body {
    margin: 0px;
    font-family: sans-serif;
}

/* .main * {
    border: 1px solid black;
} */

.main {
    display: grid;
    grid-template-rows: 1fr 9.3fr 8.4fr 6.5fr 7fr 6fr 6.75fr 4.5fr 4.5fr .5fr .5fr ;
}

.nav-bar__container {
    margin: 1em 2em;
    justify-content: space-between;
}

.nav-bar__container ul {
    gap: 1em;
}

.nav-bar__container li {
    list-style: none;
}

.nav-bar__container li a {
    text-decoration: none;
    color: black;
}

.nav-bar__container li a.blue-color {
    color: #229CD7;
}

.nav-bar__container {
    /* min-width: 45rem;
    overflow: scroll; */
}

.nav-bar__end {
    white-space: nowrap;
}

.hero {
    font-family: sans-serif;
    background: url(./resources/top-section_2180x750.jpg);
    background-position: center;
    justify-content: center;
    align-items: center;
}

.hero__container {
    align-items: center;
    width: 50%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.hero__container h1 {
    margin-top: 0px;
    font-weight: 300;
    font-size: 3rem;
}

.hero__container p {
    width: 70%;
    font-weight: 200;
    font-size: 1rem;
}

.hero__container a {
    margin-top: 1em;
    background-color: #229CD7;
    padding: 1.25em 5em;
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
}

.recomendations {
    /* background-color: wheat; */
    justify-content: center;
    align-items: center;
}

.recommendations__header {
    font-weight: 200;
    font-size: 1.75rem;
}

.recommendations__paragraph {
    font-weight: 200;
    max-width: 35rem;
}

.recommendations__container > * {
    /* border: 1px solid black; */
}

.recommendations__container {
    margin-inline: 3em;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    /* gap: 1em; */
}

.recommendations__container > * {
    text-align: center;
}

.recommendations__container > p, .recommendations__container > h1 {
    margin: 0px 2em;
}

.recommendations_cards {
    gap: 2em;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
}

.recommendations__card_container {
    /* border: 1px solid red; */
}

.content_container {
    /* border: 1px solid purple; */
    width: 300px;
    text-align: left;
}

.content_container > p {
    margin-block: 0px;
    font-weight: 400;
    font-size: .9rem;
}

.engagement {
    gap: .5em;
    align-items: baseline;
    font-weight: 400;
    font-size: .7rem;
}

.share {
    gap: 1em;
    background-color: rgb(220, 220, 220);
    font-weight: 400;
    font-size: .8rem;
    padding-block: .2em 1em;
    padding-inline: .5em 0px;
    border-radius: .5em;
    align-items: baseline;
}

a.share, .share a:visited, .share a:link {
    color: #3f3f3f;
    text-decoration: none;
}

.img_container {
    margin: auto;
    width: 300px;
    /* width: 100%; */
    height: 200px;
}

.img_container img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.features {
    /* background-color: bisque; */
    /* justify-content: center;
    align-items: center; */
    margin-inline: auto;
    /* align-content: center; */
}

.features__container {
    /* border: 1px solid salmon; */
    text-align: center;
    margin-inline: 3em;
    justify-content: space-evenly;
}

.features__header {
    font-size: 3rem;
    font-weight: 300;
    /* margin-bottom: 3em; */
}

.features__container > * {
    /* border: 1px solid blue; */
}

.features__cards_container {
    /* border: 1px solid green; */
    gap: 1em;
}

.features__cards_container > * {
    flex-basis: 100%;
    max-width: 400px;
    /* border: 1px solid seashell;    */
}

.features__card__header {
    font-weight: 400;
}

.features__card__paragraph {
    line-height: 1.25rem;
    font-weight: 300;
    font-size: .9rem;
}

.benefits {
    /* background-color: wheat; */
    /* border: 1px solid black; */
    /* height: 100%; */
}

.benefits__container {
    /* border: 1px solid red; */
    justify-content: space-evenly;
    text-align: center;
    margin-inline: 3em;
    gap: 1em;
}

.benefits__header {
    font-size: 3rem;
    font-weight: 300;
    /* margin-bottom: 3em; */
}

.benefits__cards_container {
    /* gap: 50px; */
}

.benefits__cards_container > * {
    margin-top: 1em;
}

.benefits__card {
    gap: 2em;
    align-items: flex-start;
    justify-content: center;
}

.benefits__card__image_container {
    flex-basis: 110px;
}

.benefits__card__content_container {
    flex-basis: 500px;
    text-align: start;
}

.benefits__card__content_container__header {
    font-weight: 400;
}

.benefits__card__content_container__paragraph {
    line-height: 1.25rem;
    font-weight: 300;
    font-size: .9rem;
}

.benefits__card__content_container > * {
    /* border: 1px solid salmon; */
    margin-top: 0px;
}

/* .benefits__container > * {
    border: 1px solid green;
}

.benefits__cards_container > * {
    border: 1px solid black;
}

.benefits__card > * {
    border: 1px solid black;
}

.benefits__card__image_container > * {
    border: 1px solid blue;
} */

.video-collections {
    /* background-color: antiquewhite; */
}

.video-collections__container {
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
    text-align: center;
    margin-inline: 3em;
}

.video-collections__header {
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: 300;
}

.video-collections__cards {
    gap: 4em;
    /* justify-content: space-between; */
}

.video-collections__card-container {
    /* gap: 4em; */
    max-height: 180px;
}

.video-collections__cards > * {
    /* flex-basis: 400px; */
}

.video-collections__image-container {
    object-position: center;
    width: 420px;
    height: 180px;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
}

.video-collections__paragraph {
    text-align: center;
    line-height: 1.25rem;
    font-weight: 300;
    font-size: .9rem;
    max-width: 35rem;
}










.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.nowrap {
    flex-flow: nowrap;
}

.wrap {
    flex-flow: wrap;
}

.light-gray-background {
    background-color: #F6F6F6;   
}

.dark-gray-background {
    background-color: #1D2327;   
}

.black-background {
    background-color: #000000;   
}

.white-color {
    color: white;   
}

a.hero, .hero a:visited, .hero a:link {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@media (max-width: 45rem) {

    .main {
        grid-template-rows: 2.5fr 9.3fr 24fr 18fr 10fr 12fr 6.75fr 4.5fr 4.5fr .5fr .5fr ;
    }

    .nav-bar__container {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar__container ul {
        padding-left: 0px;
        gap: 5rem;
        font-size: 1.1em;
        line-height: .25rem;
    }

    .nav-bar__start {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar__start img {
        position: relative;
        left: 1rem;
    }

    .hero__container {
        width: 80%;
    }

    .recommendations_cards {
        flex-direction: column;
        gap: 4em;
    }

    .features__cards_container {
        flex-direction: column;
        gap: 3em;
    }

    .video-collections__cards {
        flex-direction: column;
    }

    .video-collections__image-container {
        width: 320px;
    }
}