body {
    margin: 0px;
}

/* .main * {
    border: 1px solid black;
} */

.main {
    display: grid;
    grid-template-rows: 1fr 9.3fr 8.4fr 6.5fr 6.5fr 6fr 6.75fr 4.5fr 4.5fr .5fr .5fr ;
}

.nav-bar__container {
    margin: 1em 2em;
    justify-content: space-between;
}

.nav-bar__container ul {
    gap: 1em;
}

.nav-bar__container li {
    list-style: none;
}

.nav-bar__container li a {
    text-decoration: none;
    color: black;
}

.nav-bar__container li a.blue-color {
    color: #229CD7;
}

.nav-bar__container {
    min-width: 45rem;
    overflow: scroll;
}

.nav-bar__end {
    white-space: nowrap;
}

.hero {
    font-family: sans-serif;
    background: url(./resources/top-section_2180x750.jpg);
    background-position: center;
}

.hero__container {
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 50%;
    align-content: center;
    margin: auto;
    position: relative;
    top: -10%;
    text-align: center;
}

.hero__container h1 {
    font-weight: 300;
    font-size: 3rem;
}

.hero__container p {
    width: 70%;
    font-weight: 200;
    font-size: 1rem;
}

.hero__container a {
    margin-top: 1em;
    background-color: #229CD7;
    padding: 1.25em 5em;
    font-weight: 400;
    font-size: 1rem;
}

.engagement {
    gap: .5em;
    align-items: baseline;
}

a.recommendations, .recommendations a:visited, .recommendations a:link {
    color: green;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.nowrap {
    flex-flow: nowrap;
}

.wrap {
    flex-flow: wrap;
}

.light-gray-background {
    background-color: #F6F6F6;   
}

.dark-gray-background {
    background-color: #1D2327;   
}

.black-background {
    background-color: #000000;   
}

.white-color {
    color: white;   
}

a.hero, .hero a:visited, .hero a:link {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* @media (max-width: 720px) {
    .nav-bar__container {
        flex-direction: column;
        align-items: center;
    }
} */