body {
    margin: 0px;
    font-family: sans-serif;
}

/* .main * {
    border: 1px solid black;
} */

.main {
    display: grid;
    grid-template-rows: 1fr 9.3fr 8.4fr 6.5fr 6.5fr 6fr 6.75fr 4.5fr 4.5fr .5fr .5fr ;
}

.nav-bar__container {
    margin: 1em 2em;
    justify-content: space-between;
}

.nav-bar__container ul {
    gap: 1em;
}

.nav-bar__container li {
    list-style: none;
}

.nav-bar__container li a {
    text-decoration: none;
    color: black;
}

.nav-bar__container li a.blue-color {
    color: #229CD7;
}

.nav-bar__container {
    /* min-width: 45rem;
    overflow: scroll; */
}

.nav-bar__end {
    white-space: nowrap;
}

.hero {
    font-family: sans-serif;
    background: url(./resources/top-section_2180x750.jpg);
    background-position: center;
    justify-content: center;
    align-items: center;
}

.hero__container {
    align-items: center;
    width: 50%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.hero__container h1 {
    margin-top: 0px;
    font-weight: 300;
    font-size: 3rem;
}

.hero__container p {
    width: 70%;
    font-weight: 200;
    font-size: 1rem;
}

.hero__container a {
    margin-top: 1em;
    background-color: #229CD7;
    padding: 1.25em 5em;
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
}

.recomendations {
    /* background-color: wheat; */
    justify-content: center;
    align-items: center;
}

.recommendations__container > * {
    /* border: 1px solid black; */
}

.recommendations__container {
    margin-inline: 3em;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    /* gap: 1em; */
}

.recommendations__container > * {
    text-align: center;
}

.recommendations__container > p, .recommendations__container > h1 {
    margin: 0px 2em;
}

.recommendations_cards {
    gap: 2em;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
}

.recommendations__card_container {
    /* border: 1px solid red; */
}

.content_container {
    /* border: 1px solid purple; */
    width: 300px;
    text-align: left;
}

.content_container > p {
    margin-block: 0px;
    font-weight: 400;
    font-size: .9rem;
}

.engagement {
    gap: .5em;
    align-items: baseline;
    font-weight: 400;
    font-size: .7rem;
}

.share {
    gap: 1em;
    background-color: rgb(220, 220, 220);
    font-weight: 400;
    font-size: .8rem;
    padding-block: .2em 1em;
    padding-inline: .5em 0px;
    border-radius: .5em;
    align-items: baseline;
}

a.share, .share a:visited, .share a:link {
    color: #3f3f3f;
    text-decoration: none;
}

.img_container {
    margin: auto;
    width: 300px;
    /* width: 100%; */
    height: 200px;
}

.img_container img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}





.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.nowrap {
    flex-flow: nowrap;
}

.wrap {
    flex-flow: wrap;
}

.light-gray-background {
    background-color: #F6F6F6;   
}

.dark-gray-background {
    background-color: #1D2327;   
}

.black-background {
    background-color: #000000;   
}

.white-color {
    color: white;   
}

a.hero, .hero a:visited, .hero a:link {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@media (max-width: 45rem) {

    .main {
        grid-template-rows: 2.5fr 9.3fr 24fr 6.5fr 6.5fr 6fr 6.75fr 4.5fr 4.5fr .5fr .5fr ;
    }

    .nav-bar__container {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar__container ul {
        padding-left: 0px;
        gap: 5rem;
        font-size: 1.1em;
        line-height: .25rem;
    }

    .nav-bar__start {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar__start img {
        position: relative;
        left: 1rem;
    }

    .hero__container {
        width: 80%;
    }

    .recommendations_cards {
        flex-direction: column;
        gap: 4em;
    }
}