body {
    margin: 0px;
    color: rebeccapurple;
}

/* .main * {
    border: 1px solid black;
} */

.main {
    display: grid;
    grid-template-rows: 1fr 9.3fr 8.4fr 6.5fr 6.5fr 6fr 6.75fr 4.5fr 4.5fr .5fr .5fr ;
}

.nav-bar__container {
    margin: 1em 2em;
    justify-content: space-between;
}

.nav-bar__container ul {
    gap: 1em;
}

.nav-bar__container li {
    list-style: none;
}

.nav-bar__container li a {
    text-decoration: none;
    color: black;
}

.nav-bar__container li a.blue-color {
    color: #229CD7;
}

.features {
    background-color: pink;
}


.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.nowrap {
    flex-flow: nowrap;
}

.wrap {
    flex-flow: wrap;
}

.light-gray-background {
    background-color: #F6F6F6;   
}

.dark-gray-background {
    background-color: #1D2327;   
}

.black-background {
    background-color: #000000;   
}

a, a:visited, a:hover, a:link {
    color: red;
}

img {
    max-width: 100%;
}